/* NAVBAR */

div.top-bar {
    background :#ac94e8;
}

.navbar-item img {
    max-height: 3.75rem;
}

a.navbar-item {
    font-size: 14px;
    transition: .3s;
    font-weight: 700;
}

a.navbar-item:hover,
a.navbar-link:hover{
    color: #ac94e8;
    transition: .3s;
}

a.cart-button {
    background-image: linear-gradient(to right, #b28ae6 0%, #7FD7EF 51%, #8c51d8 100%);
    transition: .2s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    border-radius: 15px;
    border: none;
}

div.search-nav input.input {
    border-radius: 50px;
    border: none;
    background: #eee;
    padding: 20px;
}

.control.has-icons-left .icon, .control.has-icons-right .icon {
    top: 5px;
}

div.search-nav input.input::placeholder {
    color: #000;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

/* FOOTER */

footer.footer {
    background: #AC94E8;
}

footer.footer p,
footer.footer ul li,
footer.footer a,
footer.footer h4 {
    color: #fff;
    font-size: 14px;
}

/* TYPOGRAPHY */

h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title,
.content h1.title,
.content h2.title,
.content h3.title,
.content h4.title
.content h5.title
.content h6.title {
    font-family: 'Roboto', sans-serif;
}

.secondary-btn {
    color: #AC94E8;
}

.is-7 {
    font-size: 12px;
}

.underline {
    text-decoration: underline;
}

body a,
body li,
body strong,
body small
body time,
body p {
    font-family: 'Roboto', sans-serif;
    line-height: 2;
}

body .content p,
    body .content li,
    body .content a {
    font-size: 12px;
}

.head {
    font-family: 'Playfair Display', serif;
}

.head.is-4 {
    font-size: 1.5rem;
    line-height: 2;
}

.head.is-1 {
    font-size: 3rem;
}

.head.is-2{
    font-size: 2rem;
}

.hash {
    background: #7FD7EF;
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    font-style: italic;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* HERO */

.accent {
    color: #AC94E8;
}

h1.title.hero-title {
    font-family: 'Playfair Display', serif;
    color: #0E283F;
    font-size: 5em;
}

button.button {
    background-image: linear-gradient(to right, #b28ae6 0%, #7FD7EF 51%, #b28ae6 100%);
    border: none;
    color: #fff;
    font-weight: 700;
    transition: .3s;
}

input[type=submit] {
    background:#955be2;
    color: #fff;
    border: none;
    margin-top: 10px;
    width: 100%;
}

button.button:hover {
    transition: .3s;
}

a.hero-btn {
    background-image: linear-gradient(to right, #b28ae6 0%, #7FD7EF 51%, #8c51d8 100%);
    margin: 10px 0px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: .2s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 7px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
}



/* PRODUCT */

div.card-image img {
    width: 100%;
    height: 300px;
    object-fit: cover!important;
    object-position: center;
    transition: .2s;

}

div.card-image img:hover {
    opacity: .8;
    transition: .2s;
}

.product__title p {
    font-size: 14px;
    color: #aa6cc1;
    font-weight: 500;
}

.thumbnail__image {
	transition: all .5s ease;
	height: 35vh
}
.thumbnail__image:hover {
	transform: scale(1.1);
	overflow: hidden;
	transition: all .5s ease
}

.thumbnail__container {
    overflow: hidden!important;
    position: relative;
}

.sale-tag {
    background: #ac94e8;
    border-radius: 5px;
    color: #fff;
    padding: 0px 20px;
    top: 0;
    font-size: 14px;
    margin: 5px;
    position: absolute;
    left: 0;
}


div.line {
    width: 100px;
    height: 3px;
    background: #aa6cc1;
    display: flex;
    align-items: center;
}

.add__cart__list button {
	background: #2ec3e9;
	border: 0;
	padding: 12px 20px;
	color: #fff;
	font-family: Montserrat, sans-serif;
	cursor: pointer;
	width: 150px;
	max-width: 160px;
	transition: all .2s ease;
	margin-top: -20px;
	box-shadow: 1px 3px 16px -10px #000
}
.add__cart__list:hover button {
	background: 0 0;
	border: 1px solid #2ec3e9;
	color: #5e5e5e;
	transition: all .2s ease
}
.add__cart button {
    background-image: linear-gradient(to right, #b28ae6 0%, #7FD7EF 51%, #8c51d8 100%);
	border: 0;
	/* padding: 20px 30px; */
	height: 50px;
	color: #fff;
	font-family: Montserrat, sans-serif;
	cursor: pointer;
	width: 100%;
	transition: all .2s ease
}
.add__cart button:hover {
    background-image: linear-gradient(to right, #b28ae6 0%, #7FD7EF 51%, #8c51d8 100%);
	transition: all .2s ease
}
.add__cart input#quantity{
	font-size: 16px;
	text-align:center
}

select.selectVar {
    height: 3rem!important;
    padding: 0 20px;
    width: 100%;
    border-color: #dfdfdf;
}

/* INCREMENT ARROW */
input[type="number"],
select,
select.selectVar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    }

    select::-ms-expand { 
        display: block;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    }

    .number-input {
    border: 1px solid #ddd;
    display: inline-flex;
    }

    .number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: inherit;
    cursor: pointer;
    margin: 0;
    position: relative;
    }

    .number-input button:before,
    .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 8px;
    height: 1px;
    background-color: #212121;
    transform: translate(-50%, -50%);
    }
    .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
    }

    .number-input input[type=number] {
    font-family: sans-serif;
    max-width: 5rem;
    padding: .5rem;
    border: 1px solid #ddd;
    border-width: 0px 1px;
    font-size: 16px;
    text-align: center;
    }

.sale-price {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 14px;
    color: #111111;
}

.page-title:after,
.page-title:before {
    content:"";
    width:10px;
    height:10px;
    border-radius:50%;
    background: #ac94e8;
    display:inline-block;
    position:relative;
    bottom: 10px;
    margin: 0 20px;
}

.product_details .columns {
    background: #eee;
}

/* FILTER */

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	background-color: #ac94e8;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }

  div.sidenav h2.subtitle.is-6 {
	  font-size: 14px;
	  padding-left: 15px;
	  color: #fff!important;
  }
  
  .sidenav a {
	padding: 0px 8px 8px 32px;
	text-decoration: none;
	font-size: 14px;
	color: #fff;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  #main {
	transition: margin-left .5s;
	padding: 16px;
  }


  @media screen and (max-width: 768px) {
	  .filter-products {
		  display: none!important;
	  }
  }

  @media screen and (min-width: 768px){
	  .filter-nav {
		  display: none;
	  }
  }


  a.category__item {
    font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #5f5f5f;
	text-transform: capitalize;
	transition: padding .3s ease
}
a.category__item:hover {
	padding-left: 3px;
	transition: padding .3s ease
}

/* CONTACT PAGE */

div.form-container {
    background: #f0eaff;
    padding: 40px;
    border-radius: 20px;
}

input.input,
textarea.textarea {
    border: 0;
    border-radius: 5px;
}

/* BLOG */

div.blog__post p,
div.blog__post li,
div.blog__post strong,
div.blog__post em {
    font-size: 16px;
    color: #424242;
}

div.blog__post a {
    color: #ac94e8;
    font-size: 16px;
    text-decoration: underline;

}

/* SNIPCART */

.snipcart-modal__container.snipcart-cart-summary--edit.snipcart-cart-summary-side,
.snipcart-modal__container.snipcart-layout--large,
.snipcart-modal__container {
    z-index: 100;
}

button.snipcart-cart-button--highlight,
.snipcart__box--badge-highlight {
    background: #AC94E8;
}

.snipcart__icon--blue-light path,
.snipcart__icon--blue-dark path {
    fill: #AC94E8;
}

.snipcart__actions--link,
.snipcart-signin__register-link,
.snipcart-signin__forgot-password {
    color: #AC94E8;
}

