<div class="section" style="padding-top:100px">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered is-three-fifths is-offset-one-fifth">
                <h4 class="head is-4 mb-6">Our mission is to keep the <span class="underline">highest quality</span> of luxury lashes you love at an affordable price while providing unique options that fit your lash needs.</h4>
                <div class="columns is-variable is-0 is-mobile">
                    <div class="column">
                        <img src="/assets/truck.svg" alt="Shipping from California">
                        <h4 class="title is-7 has-text-weight-normal is-uppercase">Shipped from California</h4>
                    </div>
                    <div class="column">
                        <img src="/assets/shield.svg" alt="Shipping from California">
                        <h4 class="title is-7 has-text-weight-normal is-uppercase">Encrypted Payment</h4>
                    </div>
                    <div class="column">
                        <img src="/assets/package.svg" alt="Shipping from California">
                        <h4 class="title is-7 has-text-weight-normal is-uppercase">Luxurious Packaging</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>